<ion-view title="Direct Deposit" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="account-heading8" style="color:#000000;" class=" ">Manage payment methods</h4>
        <a ui-sref="creditDebitCard" id="account-button62" class=" button button-positive  button-block button-outline icon-right ion-android-arrow-dropright ">Add a credit or debit card</a>
        <a ui-sref="directAccount" id="account-button63" class=" button button-positive  button-block button-outline icon-right ion-android-arrow-dropright ">Add a checking / paypal account</a>
    </ion-content>
</ion-view>