<ion-view title="Order Confirmation" id="page28" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="orderConfirmation-heading28" style="color:#000000;" class=" ">Order in progress</h4>
        <div class="item item-body " id="orderConfirmation-list-item-container14">
            <h2 id="orderConfirmation-heading29" style="color:#000000;" class=" ">Tracking #</h2>
            <p id="orderConfirmation-markdown16" style="margin-top:0px;color:#000000;" class=" ">Please write the number on the package</p>
        </div>
        <div class="item item-body " id="orderConfirmation-list-item-container15">
            <p id="orderConfirmation-markdown17" style="margin-top:0px;color:#000000;" class=" ">We will confirm the order in minutes via your preffered contact method</p>
        </div>
    </ion-content>
</ion-view>