<ion-view title="Order History" id="page29" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="orderHistory-heading31" style="color:#000000;" class=" ">Order history</h4>
        <form id="orderHistory-form35" class="list ">
            <ion-radio id="orderHistory-radio3" name="order-history-opt" class=" ">Range</ion-radio>
            <div class="item item-body " id="orderHistory-list-item-container16">
                <form id="orderHistory-form36" class="list ">
                    <label class="item item-input " id="orderHistory-input52">
                        <span class="input-label">Start Date</span>
                        <input type="date" placeholder="">
                    </label>
                    <label class="item item-input " id="orderHistory-input50">
                        <span class="input-label">End Date</span>
                        <input type="date" placeholder="">
                    </label>
                </form>
            </div>
            <ion-radio id="orderHistory-radio4" name="order-history-opt" class=" ">Last 6 months</ion-radio>
        </form>
        <button id="orderHistory-button57" class=" button button-balanced  button-block ">Ok</button>
    </ion-content>
</ion-view>