<ion-view title="Payment Method" id="page27" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="paymentMethod-list-item-container13">
            <form id="paymentMethod-form33" class="list ">
                <ion-radio id="paymentMethod-radio1" name="payment-opt" class=" ">Discover (1234)</ion-radio>
                <ion-radio id="paymentMethod-radio2" name="payment-opt" class=" ">Visa</ion-radio>
            </form>
        </div>
        <button id="paymentMethod-button45" class=" button button-calm  button-block icon-left ion-android-add ">Add a new payment method</button>
        <form id="paymentMethod-form34" class="list ">
            <label class="item item-input " id="paymentMethod-input49">
                <span class="input-label">Promotional Code</span>
                <input type="text" placeholder="Enter">
            </label>
        </form>
        <a ui-sref="orderDetails" id="paymentMethod-button56" class=" button button-positive  icon-left ion-android-arrow-dropleft "></a>
        <a ui-sref="orderConfirmation" id="paymentMethod-button55" class=" button button-positive  icon-right ion-android-arrow-dropright ">Submit Order</a>
    </ion-content>
</ion-view>