<ion-view title="Payment Method" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body">
            <form class="list">
                <ion-radio data-ng-repeat="option in paymentOptions" name="payment-opt">{{option.Name}}</ion-radio>
            </form>
        </div>
        <a ui-sref="addOrderPayment" class=" button button-calm  button-block icon-left ion-android-add">Add a new payment method</a>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Promotional Code</span>
                <input type="text" placeholder="Enter">
            </label>
        </form>
        <a ui-sref="orderDetails" class=" button button-positive  icon-left ion-android-arrow-dropleft">Order Details</a>
        <a ui-sref="orderConfirmation" class=" button button-positive  icon-right ion-android-arrow-dropright ">Submit Order</a>
    </ion-content>
</ion-view>