<ion-view title="Profile" id="page1" class=" ">
    <ion-tabs class="tabs-positive tabs-icon-left " id="profile-tabs1">
        <ion-tab title="About" icon="No Icon" href="#/profile/about" id="profile-tab4" class=" ">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Location" icon="No Icon" href="#/profile/location" id="profile-tab5" class=" ">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Contact" icon="No Icon" href="#/profile/contact" id="profile-tab6" class=" ">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Account" icon="No Icon" href="#/profile/account" id="profile-tab7" class=" ">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>