<ion-view title="VerficationSuccess" hide-nav-bar="true" id="page6" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <h4 id="verficationSuccess-heading3" style="color:#000000;" class=" ">Verification Successful</h4>
        <form id="verficationSuccess-form10" class="list ">
            <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="verficationSuccess-toggle2" name="driver-partner" class=" text-sm">Do you want to be a driver partner</ion-toggle>
        </form>
        <p id="verficationSuccess-markdown1" style="color:#000000;font-size:12px;" class=" ">Please fill in the driver section!</p>
        <a ui-sref="dashboard" id="verficationSuccess-button20" class=" button button-calm  button-block button-outline ">Skip</a>
    </ion-content>
</ion-view>