<ion-view title="Dashboard" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="height:calc(100% - 100px); margin-top:50px;" id="map_canvas">
            <form id="dashboard-form11" class="list " style="top:-50px;">
                <label class="item item-input" name="search-cur-loc">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search at current location">
                </label>
            </form>
            <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="dashboard-toggle3" name="avail-delievery" class="" style="position:absolute;bottom:10px;left:10px;right:10px;">Available for delieveries</ion-toggle>
        </div>
    </ion-content>
</ion-view>