<ion-view title="Deliveries History" id="page30" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="deliveriesHistory-heading32" style="color:#000000;" class=" ">Delivery made history</h4>
        <form id="deliveriesHistory-form38" class="list ">
            <ion-radio id="deliveriesHistory-radio5" name="delivery-history-opt" class=" ">Range</ion-radio>
            <div class="item item-body " id="deliveriesHistory-list-item-container17">
                <form id="deliveriesHistory-form37" class="list ">
                    <label class="item item-input " id="deliveriesHistory-input53">
                        <span class="input-label">Start Date</span>
                        <input type="date" placeholder="">
                    </label>
                    <label class="item item-input " id="deliveriesHistory-input54">
                        <span class="input-label">End Date</span>
                        <input type="date" placeholder="">
                    </label>
                </form>
            </div>
            <ion-radio id="deliveriesHistory-radio6" name="delivery-history-opt" class=" ">Last 6 months</ion-radio>
        </form>
        <button id="deliveriesHistory-button58" class=" button button-balanced  button-block ">Ok</button>
    </ion-content>
</ion-view>