<ion-view title="Delievery Status" id="page24" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <ul>
                <li style="display:inline;">
                    <a>Orders</a>
                </li>
                <li style="display:inline;">
                    <a>xyz</a>
                </li>
                <li style="display:inline;">Status</li>
            </ul>
        </div>
        <div class="item item-body " id="delieveryStatus-list-item-container10">
            <p id="delieveryStatus-markdown8" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <button id="delieveryStatus-button54" class=" button button-calm  button-block ">Ok</button>
    </ion-content>
</ion-view>