<ion-view title="Favorites" class=" ">
    <ion-content padding="true" class="has-header">
        <div data-ng-show="!routeFormVisible">
            <h4>Added Routes</h4>
            <div class="row">
                <div class="col">Route Name</div>
                <div class="col">Start Address</div>
                <div class="col">Start Date and Time</div>
                <div class="col">Dest. Address</div>
                <div class="col"></div>
            </div>
            <div class="row" data-ng-repeat="route in driverRoutes">
                <div class="col">{{ route.routeName }}</div>
                <div class="col">{{ route.startAddress.address1 }}, {{ route.startAddress.city }}, {{ route.startAddress.stateOrProvinceCode }} {{ route.startAddress.postalCode }}</div>
                <div class="col">{{ route.startDate}} -  {{ route.startTime}}</div>
                <div class="col">{{ route.destAddress.address1 }}, {{ route.destAddress.city }}, {{ route.destAddress.stateOrProvinceCode }} {{ route.destAddress.postalCode }}</div>
                <div class="col">
                    <button type="button" class="button">Edit</button>
                    <button type="button" class="button">Delete</button>
                </div>
            </div>
            <button class="button" data-ng-click="showRouteForm();">Add New route</button>
        </div>
        <div data-ng-show="routeFormVisible">
            <h4 style="color:#35BD71;" class=" ">New Route Details</h4>
            <form class="list ">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Route Name</span>
                    <input type="text" placeholder="" data-ng-model="$parent.routeName" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">From Address</span>
                    <input  vs-google-autocomplete ng-model="fromaddress.name"
                             vs-place="fromaddress.place" 
                             vs-place-id="fromaddress.components.placeId"
                             vs-street-number="fromaddress.components.streetNumber" 
                             vs-street="fromaddress.components.street"
                             vs-city="fromaddress.components.city"
                             vs-state="fromaddress.components.state"
                             vs-country-short="fromaddress.components.countryCode"
                             vs-country="fromaddress.components.country"
                             vs-post-code="fromaddress.components.postCode"
                             vs-district="fromaddress.components.district"
                             vs-latitude="fromaddress.components.location.lat"
                             vs-longitude="fromaddress.components.location.long"
                             type="text" 
                             name="fromaddress"
                             id="fromaddress"
                             class="form-control" 
                             placeholder="Enter address">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">To Address</span>
                    <input vs-google-autocomplete ng-model="destaddress.name"
                             vs-place="destaddress.place" 
                             vs-place-id="destaddress.components.placeId"
                             vs-street-number="destaddress.components.streetNumber" 
                             vs-street="destaddress.components.street"
                             vs-city="destaddress.components.city"
                             vs-state="destaddress.components.state"
                             vs-country-short="destaddress.components.countryCode"
                             vs-country="destaddress.components.country"
                             vs-post-code="destaddress.components.postCode"
                             vs-district="destaddress.components.district"
                             vs-latitude="destaddress.components.location.lat"
                             vs-longitude="destaddress.components.location.long"
                             type="text" 
                             name="destaddress"
                             id="destaddress"
                             class="form-control" 
                             placeholder="Enter address">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Date and Time</span>
                    <input type="datetime-local" placeholder="" data-ng-model="$parent.routeDateTime">
                </label>
                <div class="item item-input item-select">
                    <span class="input-label">Recurrence</span>
                    <select multiple data-ng-model="recurrence" data-ng-options="item.name for item in weekdays">
                    </select>
                </div>
                <button type="button" class="button" data-ng-click="submitNewRoute();">Add</button>
            </form>
        </div>
    </ion-content>
</ion-view>