<ion-view title="OrderHome" id="page25" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="orderHome-heading16" style="color:#35BD71;" class=" ">Schedule a delivery</h4>
        <form id="orderHome-form22" class="list ">
            <label class="item item-input item-stacked-label " id="orderHome-input28">
                <span class="input-label">Pick up location</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input item-stacked-label " id="orderHome-input29">
                <span class="input-label">Dropoff location</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <h5 id="orderHome-heading17" style="color:#000000;" class=" ">Delivery time window</h5>
        <form id="orderHome-form31" class="list ">
            <label class="item item-input " id="orderHome-input30">
                <span class="input-label">Pickup time</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="orderHome-input47">
                <span class="input-label">Deliver time</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-select " id="orderHome-select3">
                <span class="input-label">Package size</span>
                <select>
                    <option>sdfsd</option>
                    <option>sdfsd</option>
                    <option>sdfsd</option>
                    <option>sdfsd</option>
                </select>
            </label>
            <button id="orderHome-button38" class=" button button-dark  button-block button-outline icon-right ion-android-upload ">Upload picture of package</button>
            <ion-checkbox>Track status</ion-checkbox>
            <a ui-sref="orderDetails" id="orderHome-button39" style="text-align:right;" class=" button button-positive  icon-right ion-android-arrow-dropright ">Proceed</a>
        </form>
    </ion-content>
</ion-view>