<ion-view title="Tracking Home" id="page22" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="trackingHome-button9" style="text-align:left;" class=" button button-dark  button-block button-clear icon ion-location ">Track your package</button>
        <button id="trackingHome-button46" style="text-align:left;" class=" button button-dark  button-block button-clear icon ion-android-favorite-outline ">Favorites</button>
        <a ui-sref="orderHome" id="trackingHome-button47" style="text-align:left;" class=" button button-dark  button-block button-clear icon ion-clock ">Schedule Parcel Delievery</a>
        <a ui-sref="orderHistory" id="trackingHome-button48" style="text-align:left;" class=" button button-dark  button-block button-clear icon ion-ios-undo ">Past orders placed</a>
        <a ui-sref="deliveriesHistory" id="trackingHome-button49" style="text-align:left;" class=" button button-dark  button-block button-clear icon ion-share ">Past delieveries done</a>
        <button id="trackingHome-button50" style="text-align:left;" class=" button button-dark  button-block button-clear icon ion-android-car ">Drive with TagAlong</button>
        <button id="trackingHome-button51" style="text-align:left;" class=" button button-dark  button-block button-clear icon ion-ios-telephone ">Contact us</button>
        <button id="trackingHome-button52" style="text-align:left;" class=" button button-dark  button-block button-clear icon ion-android-textsms ">Tell us what you think</button>
    </ion-content>
</ion-view>