<ion-view title="Become Driver" class="">
    <ion-content padding="true" class="has-header">
        <div>
            <div class="ng-cloak" data-ng-hide="isMobileVerified || (isMobileVerified === false)">
                Please Wait
            </div>
            <div class="ng-cloak" data-ng-show="isMobileVerified === false">
                <div data-mobile-verification></div>
            </div>
            <div data-ng-show="isMobileVerified" class="ng-cloak">
                <form class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Legal Name</span>
                        <input type="text" placeholder="name" data-ng-model="$parent.driverLegalname">
                    </label>
                </form>
                <div class="item item-body " id="yourDetails-list-item-container5">
                    <p>To be able to partner with TagAlong you must agree to:</p>
                    <ion-list>
                        <ion-item class="item-icon-left">
                            <i class="icon ion-ios-checkmark"></i> Are 18 year and older
                        </ion-item>
                        <ion-item class="item-icon-left">
                            <i class="icon ion-ios-checkmark"></i> Have a smartphone
                        </ion-item>
                    </ion-list>
                </div>
                <button class="button button-balanced" data-ng-click="confirmDriverAgreement()">Yes</button>
                <button class="button button-stable" data-ng-click="declineDriverAgreement()">No</button>
            </div>
        </div>
    </ion-content>
</ion-view>