.page-header{
    background: #f9f9f9;
    padding: 10px 0px;
    box-shadow: 0px 2px 5px #ddd;
    margin-bottom: 15px;
}
.item.item-input {
    border-width: 0px 0px 1px 0px;
    margin-bottom: 2px;
}
form{
    padding:5px;
}
